#nav-botonera{
    background-color: rgb(166, 38, 57);
    margin: 0;
	padding: 0;
    .container-fluid{
        #navbarText{
            #font-nav{
                font-size: 25px;
                margin-right: 1em;
            }
        }
    }
}

